body {
    padding-top: 80px;
    
  }
  
  .show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }
  .tab{
    display: grid;
    color:  red;
    grid-gap: 20px;    
    min-height:45vh;
    grid-template-columns: repeat(3, 1fr);
  }
  .tab > section {
    background: #fff;
    color: black;
    border: 3px solid #333;
  }
  .tab > section > * {
    padding: 15px;
  }